.MessageS {

    display: flex;
    margin-top: 30px;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    width: 100%;

}


.MessageS__top > form {

    flex: 1;
    display: flex;
}


.MessageS__top > form > input {

    outline-width: 0;
    border: none;
    padding:5px 20px ;
    margin: 0px 10px;
    border-radius: 999px; ;
    background-color: #eff2f5;
}
.MessageS_input {

    flex: 1;
}

.MessageS__bottom {
    display: flex;
    justify-content: space-evenly;
}

.MessageS__option {

    padding: 20px ;
    display: flex;
    align-items: center ;
    color: gray;
    margin: 5px ;

}

.MessageS__option > h3 {

    font-size: medium;
    margin-left: 10px;
    cursor: pointer;

}


.MessageS__option:hover {
    background-color: #eff2f5;
    border-radius: 20px;

}
